In [3]:
import csv
import pandas as pd
import numpy as np
import os
os.chdir("/content")

# Goal of the Project
The goal of this assignment is to explore the concept of bias through data on Wikipedia articles - specifically, articles on political figures from a variety of countries. In this project, I combined a dataset of Wikipedia articles with a dataset of country populations (`WPDS_2020_data.csv` and `page_data.csv`), and used a machine learning service called ORES to estimate the quality of each article. I performed an analysis of how the coverage of politicians on Wikipedia and the quality of articles about politicians varies between countries. My analysis will consist of a series of tables that show:
*  the countries with the greatest and least coverage of politicians on Wikipedia compared to their population.
*  the countries with the highest and lowest proportion of high quality articles about politicians.
*  a ranking of geographic regions by articles-per-person and proportion of high quality articles.

# Step 1: Getting the Article and Population Data

The first step is getting the data, which lives in several different places. The Wikipedia politicians by country dataset can be found on Figshare. Read through the documentation for this repository, then download and unzip it to extract the data file, which is `called page_data.csv`.
The population data is available in CSV format as `WPDS_2020_data.csv`. This dataset is drawn from the world population data sheet published by the Population Reference Bureau.

In [4]:
page_data = pd.read_csv("page_data.csv")
page_data.head()

                                 page   country     rev_id
0  Template:ZambiaProvincialMinisters    Zambia  235107991
1                      Bir I of Kanem      Chad  355319463
2   Template:Zimbabwe-politician-stub  Zimbabwe  391862046
3     Template:Uganda-politician-stub    Uganda  391862070
4    Template:Namibia-politician-stub   Namibia  391862409

In [5]:
WPDS_data = pd.read_csv("WPDS_2020_data.csv")
WPDS_data

                FIPS             Name  ...  Data (M)  Population
0              WORLD            WORLD  ...  7772.850  7772850000
1             AFRICA           AFRICA  ...  1337.918  1337918000
2    NORTHERN AFRICA  NORTHERN AFRICA  ...   244.344   244344000
3                 DZ          Algeria  ...    44.357    44357000
4                 EG            Egypt  ...   100.803   100803000
..               ...              ...  ...       ...         ...
229               WS            Samoa  ...     0.200      200000
230               SB  Solomon Islands  ...     0.715      715000
231               TO            Tonga  ...     0.099       99000
232               TV           Tuvalu  ...     0.010       10000
233               VU          Vanuatu  ...     0.321      321000

[234 rows x 6 columns]

# Step 2: Cleaning the Data

In the case of page_data.csv, the dataset contains some page names that start with the string "Template:". These pages are not Wikipedia articles, and therefore excluded in the analysis.

In [6]:
filtered_page_data = page_data.loc[~page_data.page.str.startswith("Template:")]
filtered_page_data.head()

                                                 page  ...     rev_id
1                                      Bir I of Kanem  ...  355319463
10  Information Minister of the Palestinian Nation...  ...  393276188
12                                            Yos Por  ...  393822005
23                                       Julius Gregr  ...  395521877
24                                       Edvard Gregr  ...  395526568

[5 rows x 3 columns]

In [7]:
print("Number of rows and columns in filtered page_data DataFrame", filtered_page_data.shape)

Number of rows and columns in filtered page_data DataFrame (46701, 3)

Similarly, WPDS_2020_data.csv contains some rows that provide cumulative regional population counts, rather than country-level counts. These rows are distinguished by having 'Sub-Region' values in the 'Type' field. These rows won't match the country values in page_data.csv, but they are retained so that we can report coverage and quality by region in the analysis section.

In [8]:
WPDS_data['Type'].value_counts()

Country       209
Sub-Region     24
World           1
Name: Type, dtype: int64

In [9]:
#regional_rows = WPDS_data["Name"].str.isupper()
#country_level_counts = WPDS_data[~regional_rows]
#country_level_counts['Type'].value_counts()
#country_level_counts.loc[country_level_counts['Type'] == 'Sub-Region']
#this still returns 168	Channel Islands	which is a Sub-Region

country_rows = WPDS_data.loc[WPDS_data['Type'] == 'Country']
regional_rows = WPDS_data.loc[(WPDS_data['Type'] == 'Sub-Region')]
regional_rows = regional_rows.drop(columns=['FIPS', 'Type', 'TimeFrame', 'Data (M)'])

For the analysis below, we also need a mapper that maps the countries with the corresponding sub-region and region names.

In [10]:
region = ""
region_country_mapper = []
for idx, row in WPDS_data.iterrows():
    if row["Type"] == 'Sub-Region':
        region = row["Name"]
    elif row["Type"] == 'Country':
        region_country_mapper.append({'region': region, 'country': row['Name']})
region_country_mapper = pd.DataFrame(region_country_mapper)
region_country_mapper

              region          country
0    NORTHERN AFRICA          Algeria
1    NORTHERN AFRICA            Egypt
2    NORTHERN AFRICA            Libya
3    NORTHERN AFRICA          Morocco
4    NORTHERN AFRICA            Sudan
..               ...              ...
204          OCEANIA            Samoa
205          OCEANIA  Solomon Islands
206          OCEANIA            Tonga
207          OCEANIA           Tuvalu
208          OCEANIA          Vanuatu

[209 rows x 2 columns]

# Step 3: Getting Article Quality Predictions

The goal is to get the predicted quality scores for each article in the Wikipedia dataset. We're using a machine learning system called ORES. This was originally an acronym for "Objective Revision Evaluation Service" but was simply renamed “ORES”. ORES is a machine learning tool that can provide estimates of Wikipedia article quality. The article quality estimates are, from best to worst:

1.   FA - Featured article
2.   List item
3.   GA - Good article
4.   B - B-class article
5.   C - C-class article
6.   Start - Start-class article
7.   Stub - Stub-class article

These were learned based on articles in Wikipedia that were peer-reviewed using the Wikipedia content assessment procedures. These quality classes are a sub-set of quality assessment categories developed by Wikipedia editors. 

In this project, I choose to install and run the ORES client (Python only)
Please see the installation instructions here: https://github.com/wikimedia/ores.

In [11]:
pip install ores

Collecting ores
  Downloading ores-1.4.0-py2.py3-none-any.whl (160 kB)
     |████████████████████████████████| 160 kB 4.9 MB/s
Requirement already satisfied: docopt<0.6.999,>=0.6.2 in /usr/local/lib/python3.7/dist-packages (from ores) (0.6.2)
Collecting celery<4.1.999,>=4.1.1
  Downloading celery-4.1.1-py2.py3-none-any.whl (394 kB)
     |████████████████████████████████| 394 kB 49.7 MB/s
Collecting yamlconf<0.2.999,>=0.2.4
  Downloading yamlconf-0.2.4-py3-none-any.whl (9.1 kB)
Collecting flask-jsonpify<1.5.999,>=1.5.0
  Downloading Flask-Jsonpify-1.5.0.tar.gz (3.0 kB)
Collecting flask-swaggerui<0.0.999,>=0.0.1
  Downloading flask_swaggerui-0.0.1-py2.py3-none-any.whl (740 kB)
     |████████████████████████████████| 740 kB 44.8 MB/s
Collecting flask<1.0.999,>=1.0.2
  Downloading Flask-1.0.4-py2.py3-none-any.whl (92 kB)
     |████████████████████████████████| 92 kB 348 kB/s
Collecting flask-wikimediaui<0.0.999,>=0.0.1
  Downloading flask_wikimediaui-0.0.1-py2.py3-none-any.whl (2.5 MB)
     |████████████████████████████████| 2.5 MB 42.0 MB/s
Collecting pyyaml==4.2b4
  Downloading PyYAML-4.2b4.tar.gz (262 kB)
     |████████████████████████████████| 262 kB 42.9 MB/s
Collecting revscoring<2.6.999,>=2.3.0
  Downloading revscoring-2.6.9-py2.py3-none-any.whl (391 kB)
     |████████████████████████████████| 391 kB 67.6 MB/s
Collecting sseclient>=0.0.18
  Downloading sseclient-0.0.27.tar.gz (7.5 kB)
Collecting mwapi<0.5.999,>=0.5.0
  Downloading mwapi-0.5.1-py2.py3-none-any.whl (10 kB)
Collecting stopit<1.1.999,>=1.1.1
  Downloading stopit-1.1.2.tar.gz (18 kB)
Collecting werkzeug==0.16.1
  Downloading Werkzeug-0.16.1-py2.py3-none-any.whl (327 kB)
     |████████████████████████████████| 327 kB 57.1 MB/s
Collecting redis<4.0.0,>=3.2.1
  Downloading redis-3.5.3-py2.py3-none-any.whl (72 kB)
     |████████████████████████████████| 72 kB 551 kB/s
Requirement already satisfied: pytz>dev in /usr/local/lib/python3.7/dist-packages (from celery<4.1.999,>=4.1.1->ores) (2018.9)
Collecting kombu<5.0,>=4.2.0
  Downloading kombu-4.6.11-py2.py3-none-any.whl (184 kB)
     |████████████████████████████████| 184 kB 61.9 MB/s
Collecting billiard<3.6.0,>=3.5.0.2
  Downloading billiard-3.5.0.5.tar.gz (150 kB)
     |████████████████████████████████| 150 kB 50.9 MB/s
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.7/dist-packages (from flask<1.0.999,>=1.0.2->ores) (7.1.2)
Requirement already satisfied: Jinja2>=2.10 in /usr/local/lib/python3.7/dist-packages (from flask<1.0.999,>=1.0.2->ores) (2.11.3)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.7/dist-packages (from flask<1.0.999,>=1.0.2->ores) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2>=2.10->flask<1.0.999,>=1.0.2->ores) (2.0.1)
Collecting amqp<2.7,>=2.6.0
  Downloading amqp-2.6.1-py2.py3-none-any.whl (48 kB)
     |████████████████████████████████| 48 kB 4.6 MB/s
Requirement already satisfied: importlib-metadata>=0.18 in /usr/local/lib/python3.7/dist-packages (from kombu<5.0,>=4.2.0->celery<4.1.999,>=4.1.1->ores) (4.8.1)
Collecting vine<5.0.0a1,>=1.1.3
  Downloading vine-1.3.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.18->kombu<5.0,>=4.2.0->celery<4.1.999,>=4.1.1->ores) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.18->kombu<5.0,>=4.2.0->celery<4.1.999,>=4.1.1->ores) (3.7.4.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from mwapi<0.5.999,>=0.5.0->ores) (2.23.0)
Collecting nltk<3.4.999,>=3.4.5
  Downloading nltk-3.4.5.zip (1.5 MB)
     |████████████████████████████████| 1.5 MB 50.7 MB/s
Collecting mwparserfromhell<0.5.999,>=0.5.1
  Downloading mwparserfromhell-0.5.4.tar.gz (135 kB)
     |████████████████████████████████| 135 kB 44.5 MB/s
Collecting mmh3<2.3.999,>=2.3.1
  Downloading mmh3-2.3.1.tar.gz (6.1 kB)
Collecting deltas<0.4.999,>=0.4.6
  Downloading deltas-0.4.7-py2.py3-none-any.whl (30 kB)
Collecting flake8<3.3.999,>=3.3.0
  Downloading flake8-3.3.0-py2.py3-none-any.whl (66 kB)
     |████████████████████████████████| 66 kB 4.7 MB/s
Collecting textstat<0.3.999,>=0.3.1
  Downloading textstat-0.3.1.tar.gz (15 kB)
Collecting scipy<1.2.999,>=1.2.1
  Downloading scipy-1.2.3-cp37-cp37m-manylinux1_x86_64.whl (24.8 MB)
     |████████████████████████████████| 24.8 MB 126 kB/s
Collecting more-itertools<7.2.999,>=7.2.0
  Downloading more_itertools-7.2.0-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 4.4 MB/s
Collecting pyenchant<1.6.999,>=1.6.6
  Downloading pyenchant-1.6.11.tar.gz (64 kB)
     |████████████████████████████████| 64 kB 2.3 MB/s
WARNING: Discarding https://files.pythonhosted.org/packages/f3/00/c04496277b1e681d0f500baf7ac8f3c7f1d21b9ea97ed951ed4ac5635fda/pyenchant-1.6.11.tar.gz#sha256=27d3307aa3d3cd413c20eb1fd977446c133cae47d7329d8f846cd3d8ddae6278 (from https://pypi.org/simple/pyenchant/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading pyenchant-1.6.10.tar.gz (64 kB)
     |████████████████████████████████| 64 kB 2.3 MB/s
WARNING: Discarding https://files.pythonhosted.org/packages/50/ab/bdc219a1f03d2b050325d3262719ddca6d72f02b0f771be396d79580394c/pyenchant-1.6.10.tar.gz#sha256=51f700c397026182cb0bebe6dc1982bd62732aff41fead7c14f83b56ac06a3f4 (from https://pypi.org/simple/pyenchant/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading pyenchant-1.6.9.tar.gz (64 kB)
     |████████████████████████████████| 64 kB 2.3 MB/s
WARNING: Discarding https://files.pythonhosted.org/packages/8e/3c/ffd2db9b46794dbeedd4383fba3383e4501476657fc8fe66e4d5f8cc3db2/pyenchant-1.6.9.tar.gz#sha256=4fa6bcc214abebbfd84a33c973caf1ec959979c06a3d65811e7d9a522e3e7cc8 (from https://pypi.org/simple/pyenchant/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading pyenchant-1.6.8.tar.gz (63 kB)
     |████████████████████████████████| 63 kB 1.9 MB/s
WARNING: Discarding https://files.pythonhosted.org/packages/73/73/49f95fe636ab3deed0ef1e3b9087902413bcdf74ec00298c3059e660cfbb/pyenchant-1.6.8.tar.gz#sha256=7ead2ee74f1a4fc2a7199b3d6012eaaaceea03fbcadcb5df67d2f9d0d51f050a (from https://pypi.org/simple/pyenchant/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading pyenchant-1.6.7.tar.gz (63 kB)
     |████████████████████████████████| 63 kB 1.9 MB/s
WARNING: Discarding https://files.pythonhosted.org/packages/0a/57/df7e5339002d993da05aad093baa4307734bb6ac3f3d350eaa1ec41807c7/pyenchant-1.6.7.tar.gz#sha256=d01f44f089e6604782460ad9c28809538d870a380a69424a0378a920dd129d87 (from https://pypi.org/simple/pyenchant/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading pyenchant-1.6.6-py2.py3-none-any.whl (60 kB)
     |████████████████████████████████| 60 kB 6.5 MB/s
Collecting gensim<3.8.999,>=3.8.1
  Downloading gensim-3.8.3-cp37-cp37m-manylinux1_x86_64.whl (24.2 MB)
     |████████████████████████████████| 24.2 MB 1.3 MB/s
Collecting mwtypes<0.3.999,>=0.2.0
  Downloading mwtypes-0.3.2-py2.py3-none-any.whl (21 kB)
Collecting numpy<1.16.999,>=1.16.2
  Downloading numpy-1.16.6-cp37-cp37m-manylinux1_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 55 kB/s
Collecting mysqltsv<0.0.999,>=0.0.7
  Downloading mysqltsv-0.0.7.tar.gz (7.4 kB)
Collecting tqdm<4.15.9999,>=4.15.0
  Downloading tqdm-4.15.0-py2.py3-none-any.whl (46 kB)
     |████████████████████████████████| 46 kB 3.9 MB/s
Collecting tabulate<0.7.999,>=0.7.5
  Downloading tabulate-0.7.7-py2.py3-none-any.whl (31 kB)
Collecting scikit-learn==0.20.3
  Downloading scikit_learn-0.20.3-cp37-cp37m-manylinux1_x86_64.whl (5.4 MB)
     |████████████████████████████████| 5.4 MB 70.3 MB/s
Collecting hanziconv<0.3.999,>=0.3.2
  Downloading hanziconv-0.3.2.tar.gz (276 kB)
     |████████████████████████████████| 276 kB 44.1 MB/s
Collecting deep-merge<0.0.999,>=0.0.1
  Downloading deep_merge-0.0.4-py3-none-any.whl (5.1 kB)
Collecting mwbase<0.1.999,>=0.1.4
  Downloading mwbase-0.1.5-py3-none-any.whl (13 kB)
Collecting pyflakes<1.6.0,>=1.5.0
  Downloading pyflakes-1.5.0-py2.py3-none-any.whl (225 kB)
     |████████████████████████████████| 225 kB 65.0 MB/s
Collecting mccabe<0.7.0,>=0.6.0
  Downloading mccabe-0.6.1-py2.py3-none-any.whl (8.6 kB)
Collecting pycodestyle<2.4.0,>=2.0.0
  Downloading pycodestyle-2.3.1-py2.py3-none-any.whl (45 kB)
     |████████████████████████████████| 45 kB 2.4 MB/s
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from gensim<3.8.999,>=3.8.1->revscoring<2.6.999,>=2.3.0->ores) (5.2.1)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim<3.8.999,>=3.8.1->revscoring<2.6.999,>=2.3.0->ores) (1.15.0)
Collecting jsonable>=0.3.0
  Downloading jsonable-0.3.1-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->mwapi<0.5.999,>=0.5.0->ores) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->mwapi<0.5.999,>=0.5.0->ores) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->mwapi<0.5.999,>=0.5.0->ores) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->mwapi<0.5.999,>=0.5.0->ores) (3.0.4)
Building wheels for collected packages: pyyaml, billiard, flask-jsonpify, hanziconv, mmh3, mwparserfromhell, mysqltsv, nltk, sseclient, stopit, textstat
  Building wheel for pyyaml (setup.py) ... done
  Created wheel for pyyaml: filename=PyYAML-4.2b4-cp37-cp37m-linux_x86_64.whl size=43045 sha256=5887b536d2c7dae66cc8c98b2f180a0275f693f13aacc052fd16365e4141f475
  Stored in directory: /root/.cache/pip/wheels/06/a6/83/224e726cacb89d8d459811ac7c30825ef0afb75192fe934f22
  Building wheel for billiard (setup.py) ... done
  Created wheel for billiard: filename=billiard-3.5.0.5-py3-none-any.whl size=87895 sha256=7ed380fd7cbdac2db2b612a3d3009ff018ed41279ddf31bc5ec6f9d9afaadc37
  Stored in directory: /root/.cache/pip/wheels/35/56/e4/0f815487111041c9004d1d780b7d6aa1f264ab8e868536794f
  Building wheel for flask-jsonpify (setup.py) ... done
  Created wheel for flask-jsonpify: filename=Flask_Jsonpify-1.5.0-py3-none-any.whl size=3082 sha256=27895ce98cd7091514e8b408cd2e566efdd440d6029358b4d3d8a529cc17e207
  Stored in directory: /root/.cache/pip/wheels/df/63/53/55125b71355f952b011afbf0a7f7bb823aa576d06845b2c298
  Building wheel for hanziconv (setup.py) ... done
  Created wheel for hanziconv: filename=hanziconv-0.3.2-py2.py3-none-any.whl size=23225 sha256=24043a7a3c4e987b09aac3465389716a0a7c194e2d0f15ebe2fabfaa11b946cd
  Stored in directory: /root/.cache/pip/wheels/bf/e3/22/7bf50146a3ee95d1fdcbfabc44a1fe15b6e2ab7348ab7337bf
  Building wheel for mmh3 (setup.py) ... done
  Created wheel for mmh3: filename=mmh3-2.3.1-cp37-cp37m-linux_x86_64.whl size=30268 sha256=5291188634e7da3dae5dece0e8e6f03fdb59f165f06c3eccd78db7025895b712
  Stored in directory: /root/.cache/pip/wheels/6e/1d/9e/46c41ef4b4db10d5e7af139e0c1c0946c1f18c6c19852f72ad
  Building wheel for mwparserfromhell (setup.py) ... done
  Created wheel for mwparserfromhell: filename=mwparserfromhell-0.5.4-cp37-cp37m-linux_x86_64.whl size=185547 sha256=463509720d2163f84c6dc569a2d045fc962feccba632c50a7ea7bb3b66175b75
  Stored in directory: /root/.cache/pip/wheels/fb/5e/32/21387964c6802f6f5686369fa9abd9eda040d5ef762fe9ca8c
  Building wheel for mysqltsv (setup.py) ... done
  Created wheel for mysqltsv: filename=mysqltsv-0.0.7-py3-none-any.whl size=10800 sha256=78fb6e066cc1f612b2b019f5c7bc6ec801566d61f3a90c0e9c91e3ea61ad5e5b
  Stored in directory: /root/.cache/pip/wheels/cf/82/46/32633b96f68c89eb748ca424b4cee7daacb3db117692ab3e7c
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.4.5-py3-none-any.whl size=1449926 sha256=d00eaa391f97b3faa5d58bbbff196b63906042b3f537a2ae04cda9642430696e
  Stored in directory: /root/.cache/pip/wheels/48/8b/7f/473521e0c731c6566d631b281f323842bbda9bd819eb9a3ead
  Building wheel for sseclient (setup.py) ... done
  Created wheel for sseclient: filename=sseclient-0.0.27-py3-none-any.whl size=5584 sha256=582e486dae9de61449234dec1dad7cc50cd99bdedb45238617cce7923643248c
  Stored in directory: /root/.cache/pip/wheels/07/67/7e/96edf627ac746de1a5c5cbb8d59ed960f033b8352dc12c545d
  Building wheel for stopit (setup.py) ... done
  Created wheel for stopit: filename=stopit-1.1.2-py3-none-any.whl size=11952 sha256=a44cd2517520ee4f12a09b197a2687587f823d21cc3be680ca6c88cafb86c992
  Stored in directory: /root/.cache/pip/wheels/e2/d2/79/eaf81edb391e27c87f51b8ef901ecc85a5363dc96b8b8d71e3
  Building wheel for textstat (setup.py) ... done
  Created wheel for textstat: filename=textstat-0.3.1-py3-none-any.whl size=13853 sha256=760972d15fe3e5b7c2ee8641f09346f4621ca1dbafb70d2a823fce9f6c846381
  Stored in directory: /root/.cache/pip/wheels/a1/d2/a6/9059ac4950f0072ecb9e99ffd5a18c4cba767786874f3b8d13
Successfully built pyyaml billiard flask-jsonpify hanziconv mmh3 mwparserfromhell mysqltsv nltk sseclient stopit textstat
Installing collected packages: vine, pyyaml, numpy, yamlconf, werkzeug, scipy, pyflakes, pycodestyle, mccabe, jsonable, amqp, tqdm, textstat, tabulate, scikit-learn, pyenchant, nltk, mysqltsv, mwtypes, mwparserfromhell, mwbase, mwapi, more-itertools, mmh3, kombu, hanziconv, gensim, flask, flake8, deltas, deep-merge, billiard, stopit, sseclient, revscoring, redis, flask-wikimediaui, flask-swaggerui, flask-jsonpify, celery, ores
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.5
    Uninstalling numpy-1.19.5:
      Successfully uninstalled numpy-1.19.5
  Attempting uninstall: werkzeug
    Found existing installation: Werkzeug 1.0.1
    Uninstalling Werkzeug-1.0.1:
      Successfully uninstalled Werkzeug-1.0.1
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
  Attempting uninstall: tqdm
    Found existing installation: tqdm 4.62.3
    Uninstalling tqdm-4.62.3:
      Successfully uninstalled tqdm-4.62.3
  Attempting uninstall: tabulate
    Found existing installation: tabulate 0.8.9
    Uninstalling tabulate-0.8.9:
      Successfully uninstalled tabulate-0.8.9
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
  Attempting uninstall: nltk
    Found existing installation: nltk 3.2.5
    Uninstalling nltk-3.2.5:
      Successfully uninstalled nltk-3.2.5
  Attempting uninstall: more-itertools
    Found existing installation: more-itertools 8.10.0
    Uninstalling more-itertools-8.10.0:
      Successfully uninstalled more-itertools-8.10.0
  Attempting uninstall: gensim
    Found existing installation: gensim 3.6.0
    Uninstalling gensim-3.6.0:
      Successfully uninstalled gensim-3.6.0
  Attempting uninstall: flask
    Found existing installation: Flask 1.1.4
    Uninstalling Flask-1.1.4:
      Successfully uninstalled Flask-1.1.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
xarray 0.18.2 requires numpy>=1.17, but you have numpy 1.16.6 which is incompatible.
tensorflow 2.6.0 requires numpy~=1.19.2, but you have numpy 1.16.6 which is incompatible.
spacy 2.2.4 requires tqdm<5.0.0,>=4.38.0, but you have tqdm 4.15.0 which is incompatible.
pyerfa 2.0.0 requires numpy>=1.17, but you have numpy 1.16.6 which is incompatible.
panel 0.12.1 requires tqdm>=4.48.0, but you have tqdm 4.15.0 which is incompatible.
kapre 0.3.5 requires numpy>=1.18.5, but you have numpy 1.16.6 which is incompatible.
jaxlib 0.1.71+cuda111 requires numpy>=1.18, but you have numpy 1.16.6 which is incompatible.
jax 0.2.21 requires numpy>=1.18, but you have numpy 1.16.6 which is incompatible.
fbprophet 0.7.1 requires tqdm>=4.36.1, but you have tqdm 4.15.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
astropy 4.3.1 requires numpy>=1.17, but you have numpy 1.16.6 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed amqp-2.6.1 billiard-3.5.0.5 celery-4.1.1 deep-merge-0.0.4 deltas-0.4.7 flake8-3.3.0 flask-1.0.4 flask-jsonpify-1.5.0 flask-swaggerui-0.0.1 flask-wikimediaui-0.0.1 gensim-3.8.3 hanziconv-0.3.2 jsonable-0.3.1 kombu-4.6.11 mccabe-0.6.1 mmh3-2.3.1 more-itertools-7.2.0 mwapi-0.5.1 mwbase-0.1.5 mwparserfromhell-0.5.4 mwtypes-0.3.2 mysqltsv-0.0.7 nltk-3.4.5 numpy-1.16.6 ores-1.4.0 pycodestyle-2.3.1 pyenchant-1.6.6 pyflakes-1.5.0 pyyaml-4.2b4 redis-3.5.3 revscoring-2.6.9 scikit-learn-0.20.3 scipy-1.2.3 sseclient-0.0.27 stopit-1.1.2 tabulate-0.7.7 textstat-0.3.1 tqdm-4.15.0 vine-1.3.0 werkzeug-0.16.1 yamlconf-0.2.4

In [12]:
from ores import api
ores_session = api.Session("https://ores.wikimedia.org", "DATA 512 A2 <ningjis@uw.edu>")

rev_ids = filtered_page_data.rev_id.values
results = ores_session.score("enwiki", ["articlequality"], rev_ids)

#for score in results:
#    print(score)

quality_est_results = []
error_revids = []
for rev_id, result in zip(rev_ids, results):
    try:
        quality_est_results.append({'rev_id': rev_id, 'article_quality_est': result['articlequality']['score']['prediction']})
    except:
        error_revids.append(rev_id)
quality_est_results = pd.DataFrame(quality_est_results)
quality_est_results

          rev_id article_quality_est
0      355319463                Stub
1      393276188                Stub
2      393822005                Stub
3      395521877                Stub
4      395526568                Stub
...          ...                 ...
46420  807481636                   C
46421  807482007                  GA
46422  807483006                   C
46423  807483153                  GA
46424  807483270                   C

[46425 rows x 2 columns]

# Step 3: Combining the Datasets

The goal is to merge the wikipedia data and population data together using country names. After merging the data, I found some of the entries cannot be merged because either the population dataset does not have an entry for the equivalent Wikipedia country, or vise versa.

All rows that do not have matching data are output them to a CSV file called: *wp_wpds_countries-no_match.csv*.

The remaining data are consolidated into a single CSV file called *wp_wpds_politicians_by_country.csv*, with the following headers:
*   country
*   article_name
*   revision_id
*   article_quality_est.
*   population

In [13]:
page_data_with_preds = filtered_page_data.merge(quality_est_results, left_on='rev_id', right_on='rev_id')
page_data_with_preds

                                                    page  ... article_quality_est
0                                         Bir I of Kanem  ...                Stub
1      Information Minister of the Palestinian Nation...  ...                Stub
2                                                Yos Por  ...                Stub
3                                           Julius Gregr  ...                Stub
4                                           Edvard Gregr  ...                Stub
...                                                  ...  ...                 ...
46420                                        Hal Bidlack  ...                   C
46421                                       Yahya Jammeh  ...                  GA
46422                                   Lucius Fairchild  ...                   C
46423                               Fahd of Saudi Arabia  ...                  GA
46424                                  Francis Fessenden  ...                   C

[46425 rows x 4 columns]

In [14]:
# some of the entries cannot be merged 
# because either the population dataset does not have an entry for the equivalent Wikipedia country, 
# or vise versa.
valid_country_page = page_data_with_preds.country.isin(country_rows.Name.unique())
page_invalid_country = page_data_with_preds[~valid_country_page]

valid_country_wpds = country_rows.Name.isin(page_data_with_preds.country.unique())
wpds_invalid_country = country_rows[~valid_country_wpds]

countries_no_match = wpds_invalid_country.merge(page_invalid_country, left_on='Name', right_on='country', how='outer')
countries_no_match.to_csv('wp_wpds_countries-no_match.csv', index=False)

In [15]:
page_valid_country = page_data_with_preds[valid_country_page]
wpds_valid_country = country_rows[valid_country_wpds]
page_valid_country = page_valid_country.rename(columns={"page": "article_name", "rev_id": "revision_id"})

final_page = page_valid_country.merge(wpds_valid_country, left_on='country', right_on='Name')
final_page = final_page.drop(columns=['FIPS', 'Name', 'Type', 'TimeFrame', 'Data (M)'])
final_page.to_csv('wp_wpds_politicians_by_country.csv', index=False)
final_page

               article_name     country  ...  article_quality_est Population
0            Bir I of Kanem        Chad  ...                 Stub   16877000
1      Abdullah II of Kanem        Chad  ...                 Stub   16877000
2       Salmama II of Kanem        Chad  ...                 Stub   16877000
3           Kuri I of Kanem        Chad  ...                 Stub   16877000
4       Mohammed I of Kanem        Chad  ...                 Stub   16877000
...                     ...         ...  ...                  ...        ...
44563            Rita Sinon  Seychelles  ...                 Stub      98000
44564      Sylvette Frichot  Seychelles  ...                 Stub      98000
44565          May De Silva  Seychelles  ...                Start      98000
44566       Vincent Meriton  Seychelles  ...                 Stub      98000
44567   Marie-Louise Potter  Seychelles  ...                 Stub      98000

[44568 rows x 5 columns]

# Step 4: Analysis

The analysis will consist of calculating the proportion (as a percentage) of articles-per-population and high-quality articles for each country AND for each geographic region. By "high quality" articles, in this case we mean the number of articles about politicians in a given country that ORES predicted would be in either the "FA" (featured article) or "GA" (good article) classes.

In [16]:
final_page['is_high_quality_article'] = final_page.article_quality_est.isin(['FA', 'GA'])
article_count = pd.crosstab(final_page['country'], final_page['is_high_quality_article'], margins=True, margins_name="Total-articles")
article_country = article_count

### Country level analysis:

In [17]:
# quality rate:
# if a country has 10 articles about politicians, and 2 of them are FA or GA class articles
# then the percentage of high-quality articles would be 20%.

article_country['quality rate'] = article_country[True] * 100.0 / article_country['Total-articles']

# Coverage
# if a country has a population of 10,000 people, 
# and you found 10 FA or GA class articles about politicians from that country,
# then the percentage of articles-per-population would be .1%.
article_country = article_count.merge(wpds_valid_country, left_on='country', right_on='Name')
article_country = article_country.drop(columns=['FIPS', 'Type', 'TimeFrame', 'Data (M)'])
article_country = article_country.rename(columns={"Name": "country", False: "bad-articles", True: "good-articles"})
article_country['Coverage'] = article_country["good-articles"] * 100.0 / article_country['Population']

article_country.insert(0, 'country', article_country.pop('country'))
article_country

         country  bad-articles  ...  Population  Coverage
0    Afghanistan           306  ...    38928000  0.000033
1        Albania           453  ...     2838000  0.000106
2        Algeria           114  ...    44357000  0.000005
3        Andorra            34  ...       82000  0.000000
4         Angola           106  ...    32522000  0.000000
..           ...           ...  ...         ...       ...
178    Venezuela           127  ...    28645000  0.000010
179      Vietnam           174  ...    96209000  0.000014
180        Yemen           113  ...    29826000  0.000010
181       Zambia            25  ...    18384000  0.000000
182     Zimbabwe           161  ...    14863000  0.000013

[183 rows x 7 columns]

### Region level analysis:


Summing up the good article counts and bad article counts for each region. For ASIA, AFRICA, EUROPE, and LATIN AMERICA AND THE CARIBBEAN, we need to sum up the counts for sub-regions. For example, the counts for LATIN AMERICA AND THE CARIBBEAN is the sum of the counts for CARIBBEAN, CENTRAL AMERICA, and SOUTH AMERICA. This could be useful if we want to compare the coverage rate or quality rate of a sub region (e.g. EAST ASIA) with the corresponding number of the greater region (e.g. ASIA), which could serve as a 'mean' for all its sub-regions.

In [18]:
# Use mapper to match countries and regions
article_region = article_count.merge(region_country_mapper, right_on='country', left_on='country')
article_region = article_region.groupby(by=["region"]).sum()

# Sum up sub-regions' counts. E.g. ASIA, AFRICA, EUROPE, and LATIN AMERICA AND THE CARIBBEAN
asia_count = {False: [article_region.loc[article_region.index.str.contains('ASIA'), False].sum()], \
              True: [article_region.loc[article_region.index.str.contains('ASIA'), True].sum()],  \
             'Total-articles': [article_region.loc[article_region.index.str.contains('ASIA'), 'Total-articles'].sum()]}
asia_count = pd.DataFrame(asia_count, index=['ASIA'])
article_region = article_region.append(asia_count)

africa_count = {False: [article_region.loc[article_region.index.str.contains('AFRICA'), False].sum()], \
              True: [article_region.loc[article_region.index.str.contains('AFRICA'), True].sum()],  \
             'Total-articles': [article_region.loc[article_region.index.str.contains('AFRICA'), 'Total-articles'].sum()]}
africa_count = pd.DataFrame(africa_count, index=['AFRICA'])
article_region = article_region.append(africa_count)

europe_count = {False: [article_region.loc[article_region.index.str.contains('EUROPE'), False].sum()], \
              True: [article_region.loc[article_region.index.str.contains('EUROPE'), True].sum()],  \
             'Total-articles': [article_region.loc[article_region.index.str.contains('EUROPE'), 'Total-articles'].sum()]}
europe_count = pd.DataFrame(europe_count, index=['EUROPE'])
article_region = article_region.append(europe_count)

latin_count = {False: [article_region.loc[['CARIBBEAN', 'CENTRAL AMERICA', 'SOUTH AMERICA'], False].sum()], \
              True: [article_region.loc[['CARIBBEAN', 'CENTRAL AMERICA', 'SOUTH AMERICA'], True].sum()],  \
             'Total-articles': [article_region.loc[['CARIBBEAN', 'CENTRAL AMERICA', 'SOUTH AMERICA'], 'Total-articles'].sum()]}
latin_count = pd.DataFrame(latin_count, index=['LATIN AMERICA AND THE CARIBBEAN'])
article_region = article_region.append(latin_count)

# Merge table to get population column
article_region = article_region.merge(regional_rows, left_on=article_region.index, right_on='Name')

# Calculate quality rate
article_region['quality rate'] = article_region[True] * 100.0 / article_region['Total-articles']

# Calculate Coverage
article_region = article_region.rename(columns={"Name": "Region", False: "bad-articles", True: "good-articles"})
article_region['Coverage'] = article_region["good-articles"] * 100.0 / article_region['Population']

article_region.insert(0, 'Region', article_region.pop('Region'))
article_region

                             Region  bad-articles  ...  Population  Coverage
0                         CARIBBEAN           682  ...    43233000  0.000030
1                   CENTRAL AMERICA          1520  ...   178611000  0.000013
2                      CENTRAL ASIA           238  ...    74961000  0.000009
3                   Channel Islands          3661  ...      172000  0.059302
4                         EAST ASIA          2397  ...  1641063000  0.000005
5                    EASTERN AFRICA          2467  ...   444970000  0.000008
6                    EASTERN EUROPE          3614  ...   291902000  0.000040
7                     MIDDLE AFRICA           649  ...   179757000  0.000009
8                   NORTHERN AFRICA           880  ...   244344000  0.000008
9                  NORTHERN AMERICA          1797  ...   368193000  0.000028
10                          OCEANIA          3063  ...    43155000  0.000146
11                    SOUTH AMERICA          2992  ...   429191000  0.000009
12                       SOUTH ASIA          4295  ...  1967131000  0.000004
13                   SOUTHEAST ASIA          1947  ...   661845000  0.000011
14                  SOUTHERN AFRICA           625  ...    67732000  0.000013
15                  SOUTHERN EUROPE          3636  ...   153251000  0.000048
16                   WESTERN AFRICA          2099  ...   401115000  0.000010
17                     WESTERN ASIA          2474  ...   280927000  0.000032
18                   WESTERN EUROPE          4504  ...   195479000  0.000029
19                             ASIA         11351  ...  4625927000  0.000007
20                           AFRICA          6720  ...  1337918000  0.000009
21                           EUROPE         11754  ...   746622000  0.000033
22  LATIN AMERICA AND THE CARIBBEAN          5194  ...   651036000  0.000012

[23 rows x 7 columns]

# Step 5: Results

1.   Top 10 countries by coverage: 10 highest-ranked countries in terms of number of politician articles as a proportion of country population.

In [19]:
article_country.sort_values('Coverage', ascending=False).reset_index(drop=True).head(10)

       country  bad-articles  good-articles  ...  quality rate  Population  Coverage
0       Tuvalu            50              4  ...      7.407407       10000  0.040000
1     Dominica            11              1  ...      8.333333       72000  0.001389
2      Vanuatu            55              3  ...      5.172414      321000  0.000935
3      Iceland           199              2  ...      0.995025      368000  0.000543
4      Ireland           348             25  ...      6.702413     5003000  0.000500
5   Montenegro            70              2  ...      2.777778      622000  0.000322
6   Martinique            33              1  ...      2.941176      356000  0.000281
7       Bhutan            31              2  ...      6.060606      730000  0.000274
8  New Zealand           770             13  ...      1.660281     4987000  0.000261
9      Romania           301             42  ...     12.244898    19241000  0.000218

[10 rows x 7 columns]

2.   Bottom 10 countries by coverage: 10 lowest-ranked countries in terms of number of politician articles as a proportion of country population

In [20]:
article_country.sort_values('Coverage').reset_index(drop=True).head(10)

                          country  bad-articles  ...  Population  Coverage
0                         Finland           569  ...     5529000       0.0
1                         Comoros            51  ...      870000       0.0
2                      Costa Rica           147  ...     5111000       0.0
3                        Djibouti            37  ...      988000       0.0
4                         Eritrea            16  ...     3546000       0.0
5                         Estonia           148  ...     1331000       0.0
6  Federated States of Micronesia            36  ...      106000       0.0
7                   French Guiana            27  ...      294000       0.0
8                 Solomon Islands            97  ...      715000       0.0
9                         Grenada            36  ...      113000       0.0

[10 rows x 7 columns]

3.   Top 10 countries by relative quality: 10 highest-ranked countries in terms of the relative proportion of politician articles that are of GA and FA-quality

In [21]:
article_country.sort_values('quality rate', ascending=False).reset_index(drop=True).head(10)

                    country  bad-articles  ...  Population  Coverage
0              Korea, North            28  ...    25779000  0.000031
1              Saudi Arabia           102  ...    35041000  0.000043
2                   Romania           301  ...    19241000  0.000218
3  Central African Republic            58  ...     4830000  0.000166
4                Uzbekistan            25  ...    34174000  0.000009
5                Mauritania            43  ...     4650000  0.000108
6                 Guatemala            76  ...    18066000  0.000039
7                  Dominica            11  ...       72000  0.001389
8                     Syria           118  ...    19398000  0.000052
9                     Benin            84  ...    12209000  0.000057

[10 rows x 7 columns]

4.   Bottom 10 countries by relative quality: 10 lowest-ranked countries in terms of the relative proportion of politician articles that are of GA and FA-quality

In [22]:
article_country.sort_values('quality rate').reset_index(drop=True).head(10)

           country  bad-articles  ...  Population  Coverage
0  Solomon Islands            97  ...      715000       0.0
1            Tonga            63  ...       99000       0.0
2            Nauru            52  ...       11000       0.0
3          Namibia           162  ...     2541000       0.0
4         Djibouti            37  ...      988000       0.0
5       Mozambique            58  ...    31166000       0.0
6           Monaco            40  ...       38000       0.0
7          Eritrea            16  ...     3546000       0.0
8          Estonia           148  ...     1331000       0.0
9          Moldova           421  ...     3535000       0.0

[10 rows x 7 columns]

5.   Geographic regions by coverage: Ranking of geographic regions (in descending order) in terms of the total count of politician articles from countries in each region as a proportion of total regional population

In [23]:
article_region.sort_values('Coverage', ascending=False).reset_index(drop=True)

                             Region  bad-articles  ...  Population  Coverage
0                   Channel Islands          3661  ...      172000  0.059302
1                           OCEANIA          3063  ...    43155000  0.000146
2                   SOUTHERN EUROPE          3636  ...   153251000  0.000048
3                    EASTERN EUROPE          3614  ...   291902000  0.000040
4                            EUROPE         11754  ...   746622000  0.000033
5                      WESTERN ASIA          2474  ...   280927000  0.000032
6                         CARIBBEAN           682  ...    43233000  0.000030
7                    WESTERN EUROPE          4504  ...   195479000  0.000029
8                  NORTHERN AMERICA          1797  ...   368193000  0.000028
9                   SOUTHERN AFRICA           625  ...    67732000  0.000013
10                  CENTRAL AMERICA          1520  ...   178611000  0.000013
11  LATIN AMERICA AND THE CARIBBEAN          5194  ...   651036000  0.000012
12                   SOUTHEAST ASIA          1947  ...   661845000  0.000011
13                   WESTERN AFRICA          2099  ...   401115000  0.000010
14                     CENTRAL ASIA           238  ...    74961000  0.000009
15                    SOUTH AMERICA          2992  ...   429191000  0.000009
16                    MIDDLE AFRICA           649  ...   179757000  0.000009
17                           AFRICA          6720  ...  1337918000  0.000009
18                   EASTERN AFRICA          2467  ...   444970000  0.000008
19                  NORTHERN AFRICA           880  ...   244344000  0.000008
20                             ASIA         11351  ...  4625927000  0.000007
21                        EAST ASIA          2397  ...  1641063000  0.000005
22                       SOUTH ASIA          4295  ...  1967131000  0.000004

[23 rows x 7 columns]

6.   Geographic regions by coverage: Ranking of geographic regions (in descending order) in terms of the relative proportion of politician articles from countries in each region that are of GA and FA-quality

In [24]:
article_region.sort_values('quality rate', ascending=False).reset_index(drop=True)

                             Region  bad-articles  ...  Population  Coverage
0                  NORTHERN AMERICA          1797  ...   368193000  0.000028
1                    SOUTHEAST ASIA          1947  ...   661845000  0.000011
2                      WESTERN ASIA          2474  ...   280927000  0.000032
3                    EASTERN EUROPE          3614  ...   291902000  0.000040
4                         EAST ASIA          2397  ...  1641063000  0.000005
5                      CENTRAL ASIA           238  ...    74961000  0.000009
6                   Channel Islands          3661  ...      172000  0.059302
7                              ASIA         11351  ...  4625927000  0.000007
8                     MIDDLE AFRICA           649  ...   179757000  0.000009
9                   NORTHERN AFRICA           880  ...   244344000  0.000008
10                           EUROPE         11754  ...   746622000  0.000033
11                          OCEANIA          3063  ...    43155000  0.000146
12                  SOUTHERN EUROPE          3636  ...   153251000  0.000048
13                        CARIBBEAN           682  ...    43233000  0.000030
14                   WESTERN AFRICA          2099  ...   401115000  0.000010
15                           AFRICA          6720  ...  1337918000  0.000009
16                       SOUTH ASIA          4295  ...  1967131000  0.000004
17                  CENTRAL AMERICA          1520  ...   178611000  0.000013
18  LATIN AMERICA AND THE CARIBBEAN          5194  ...   651036000  0.000012
19                  SOUTHERN AFRICA           625  ...    67732000  0.000013
20                   EASTERN AFRICA          2467  ...   444970000  0.000008
21                    SOUTH AMERICA          2992  ...   429191000  0.000009
22                   WESTERN EUROPE          4504  ...   195479000  0.000029

[23 rows x 7 columns]

# Reflections and Implications

Piror to this analysis, I expected to see the countries and regions with the highest-ranked countries in terms of both the number of politician articles as a proportion of country population and the relative proportion of politician articles that are of GA and FA-quality are all English speaking countries/regions due to the fact that the database is based on all English Wikipedia pages.  However, I was surprised to see that the top 10 countries by relative article quality includes countries such as North Koera and Saudi Arabia. This could likely be explained due to the fact that these are some of the most censored countries in the world with tightly controlled political systems, and my guess is that some of the articles were written by the authorities.

I also expected that the countries have the lowest articles-per-population rate also have a relativety lower article quality rate, and vise versa. This expectation of mine is consistant with the results of my analysis. Moreover, these bottom 10 countries by coverage and the bottom 10 countries by relative quality all have a relativity small population. This is likely because the politicians from smaller countries are not well-known by people from other countries.



*   **What biases did you expect to find in the data (before you started working with it), and why?**
> The source data, page_data.csv, which is the "Politicians by Country from the English-language Wikipedia" dataset, pulls only the English-language Wikipedia pages. Naturally, the non-english speaking countries and regions would have fewer articles written in English and lower quality English articles comparing to the English speaking countries.


*   **What might your results suggest about (English) Wikipedia as a data source?**
> If we are using English Wikipedia as the data source, I would suggest that the author also supplements with the Wikipedia in the native language of the corresponding countries/regions to get more accurate results.


*   **Can you think of a realistic data science research situation where using these data (to train a model, perform a hypothesis-driven research, or make business decisions) might still be appropriate and useful, despite its inherent limitations and biases?**
>  The biases mentioned above will not be a problem if we use these data for analysis in English speaking countries, such as looking at the individual politicians in the United States.